header{
    text-align: center;
    position: relative;
    bottom: 40px;
}
main{
    position: relative;
    top: 10vw;
}
.a{
    text-align: center;
    position: relative;
    bottom: 150px;
}
body{
    background-color: #84BE68;
}
.center{
    text-align: center;
}
.up{
    position: relative;
    bottom: 100px;
}
/* .b{
    position: relative;
    left: 215px;
    bottom: 40px;
} */
#chiquito{
    width: 30vw;
    position: relative;
    left: 35vw;
    bottom: 8vw;
}
table {
    width: 100%;
    bottom: 8vw;
 }
 th, td {
    width: 25%;
    text-align: center;
    position: relative;
    bottom: 8vw;
    border: 1px solid #000;
    border-collapse: collapse;
    background-color: #A268BE;
 }
 caption{
    position: relative;
    bottom: 8vw;
    border: 1px solid #000;
    background-color: #A268BE;
 }
 /* #A23047 */
/*  .z{
    
 } */
 .c{
    left: 40%;
    width: 50%;
 }
