/* Font properties */
.font-properties {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #233247;
}

/* Block properties */
body {
    background-color: #f24236;
    padding: 30px;
}

.main-body {
    background-color: #fbfef9;
    width: 70%;
    padding-top: 20px;
    margin: 20px auto;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 50px;
    margin: 0 -10px;
}

.list {
    box-sizing: border-box;
    background-color: #6bd425;
    width: 85%;
    padding: 1em 2em;
    margin: 20px auto 10px;
}

li {
    padding: 5px;
}

footer {
    text-align: center;
    padding: 1em 1em 0.5em;
    margin: 0;
}

/* Image properties */
.Odin-Logo {
    height: auto;
    width: 80px;
}

.mexican-food {
    display: block;
    height: auto;
    width: 60%;
    margin: 30px auto;
    border: 10px solid #233247;
}

