/* Font properties */
.font-properties {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #233247;
}

.main-title {
    text-align: center;
    font-size: 40px;
    margin: -22px auto 20px;
}

/* Image properties */
.Odin-Logo {
    display:block;
    height: auto;
    width: 110px;
    margin: 0 auto;
}

.mexican-food {
    display: block;
    height: auto;
    width: 60%;
    margin: 30px auto;
    border: 10px solid #233247;
}

/* Block properties */
body {
    background-color: #f24236;
    padding: 30px;
}

.main-body {
    background-color: #fbfef9;
    width: 70%;
    margin: 20px auto;
}

.list {
    box-sizing: border-box;
    background-color: #6bd425;
    width: 85%;
    padding: 1em 2em;
    margin: 20px auto 10px;
}

li {
    padding: 5px;
}

footer {
    text-align: center;
    padding: 1em 1em 0.5em;
    margin: 0;
}
